<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fã Page de Blue Lock</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <h1 onclick="clicou()">Blue Lock: Filosofia do Egoísta</h1>
    <img src="https://tse1.mm.bing.net/th/id/OIP.eqjQXLpdMgiwNEXyJYJU-QHaEK?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ea quisquam veritatis quidem expedita, officiis
        incidunt! Consectetur porro in, at quidem dolores mollitia magni possimus, ipsa qui officiis quis
        necessitatibus.</p>
</body>

</html>